<a href="https://colab.research.google.com/github/Rokon-Uz-Zaman/Random-projects/blob/main/pypractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#roman

num= int(input("enter a number "))


for i in range(num+1):
  for j in range(i):
    print(j,end="" )
  print("")

enter a number 9

0
01
012
0123
01234
012345
0123456
01234567
012345678

In [ ]:
#roman

num= int(input("enter a number "))


for i in range(num+1):
  for j in range(i):
    print(i,end="" )
  print("")

enter a number 9

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:

#roman
n=int(input("enter number "))


for i in range(n):
  for j in range(i+1):
    if j == 0 or j == (i):
      print("*",end="")
    else:
      print(" ",end="")  
  print("")

enter number 9
*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *

In [ ]:

#roman
n=int(input("enter number "))


for i in range(n):
  for j in range(i+1):
    if j == 0 or j == (i):
      print("*",end="")
    else:
      print(" ",end="")  
  print("")

enter number 9
*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *

In [ ]:
#roman

n=int(input("enter number "))

for i in range(n):
  for j in range(i+1):
    if i !=(n-1):
      if j == 0 or j == (i):
       print("*",end="")
       
      else:
         
        print(" ",end="")  
    else:
      print("*",end="")   
  print("")

enter number 9
*
**
* *
*  *
*   *
*    *
*     *
*      *
*********

In [ ]:
#collected 

rows = int(input("Enter the number of rows: "))  
# Outer loop will print number of rows  
for i in range(rows+1):  
    # Inner loop will print the value of i after each iteration  
    for j in range(i):  
        print(i, end=" ")  # print number  
    # line after each row to display pattern correctly  
    print(" ")

Enter the number of rows: 9

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
#collected 
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
for i in range(0, n):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i + 1):  
            # printing stars  
            print("* ", end="")       
  
        # ending line after each row  
        print()

Enter the number of rows9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *